In [1]:
import pandas as pd
from sklearn import linear_model

In [2]:
#Definiendo e dataset del precio de renta de departamentos de las Ciudades de NewYork, Seattle y San Francisco
df = pd.DataFrame({
    "Ciudad": ['SF','SF','SF','NYC','NYC','NYC',
               'Seattle','Seattle','Seattle'],
    "Renta": [3999, 4000, 4001, 3499, 3500, 3501, 2499, 2500, 2501]
})

In [3]:
df['Renta'].mean()

3333.3333333333335

In [4]:
#Convertir las variables categoricas en un DataFrame en one-hot encondin
# y entrenar en un modelo de regresion lineal

one_hot_df = pd.get_dummies(df, prefix=['Ciudad'])

In [5]:
one_hot_df

   Renta  Ciudad_NYC  Ciudad_SF  Ciudad_Seattle
0   3999           0          1               0
1   4000           0          1               0
2   4001           0          1               0
3   3499           1          0               0
4   3500           1          0               0
5   3501           1          0               0
6   2499           0          0               1
7   2500           0          0               1
8   2501           0          0               1

In [6]:
#Entrenar modelo lineal
model = linear_model.LinearRegression()
model.fit(one_hot_df[['Ciudad_NYC','Ciudad_SF','Ciudad_Seattle']],
          one_hot_df['Renta'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
model.coef_

array([ 166.66666667,  666.66666667, -833.33333333])

In [8]:
model.intercept_

3333.3333333333335

In [9]:
#Entranamiento de modelo lineal de regresion con codigo dummy
#Especificando en el "drop_first" el flageo de lo obtenido de la codificaci√≥n Dummy
dummy_df = pd.get_dummies(df, prefix = ['Ciudad'], drop_first=True)
dummy_df

   Renta  Ciudad_SF  Ciudad_Seattle
0   3999          1               0
1   4000          1               0
2   4001          1               0
3   3499          0               0
4   3500          0               0
5   3501          0               0
6   2499          0               1
7   2500          0               1
8   2501          0               1

In [10]:
model.fit(dummy_df[['Ciudad_SF','Ciudad_Seattle']], dummy_df['Renta'])
model.coef_

array([  500., -1000.])

In [11]:
model.intercept_

3500.0

In [16]:
#Efecto de la codificaci√≥n dummy en el modelo de Regresi√≥n Lineal modelo
effect_df = dummy_df.copy()
effect_df.loc[3:5,['Ciudad_SF','Ciudad_Seattle']] = -1.0
effect_df

   Renta  Ciudad_SF  Ciudad_Seattle
0   3999          1               0
1   4000          1               0
2   4001          1               0
3   3499        255             255
4   3500        255             255
5   3501        255             255
6   2499          0               1
7   2500          0               1
8   2501          0               1

In [13]:
model.fit(effect_df[['Ciudad_SF','Ciudad_Seattle']], effect_df['Renta'])
model.coef_

array([ 750.49115914, -749.50884086])

In [17]:
model.intercept_

3249.5088408644338